.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcomeSection {
    background-color: #f0f0f0;
  }
  
  .announcementSection {
    background-color: #d3d3d3;
  }
  
  .contactSection {
    background-color: #a9a9a9;
  }
  
  .footer {
    background-color: #808080;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .contactForm {
    padding: 20px;
    max-width: 400px;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
  }
  