.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .welcomeSection {
    background-color: #f0f0f0;
  }
  
  .announcementSection {
    background-color: #d3d3d3;
  }
  
  
 
  
 
  