.css-t89xny-MuiDataGrid-columnHeaderTitle {
  color: #148582;
  font-weight: bolder;
  font-size: 20px;
}

.status-pending {
  color: orange;
}

.status-rejected {
  color: red;
}

.status-accepted {
  color: green;
}

.status-unknown {
  color: gray;
}

.dataGridContainer {
  min-height: 600px;
  height: auto;
  width: 100%;
}
