@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body {
  max-width: 100%; /* Ensure the body never exceeds the width of the screen */
  margin: 0 ; /* Center the body horizontally */
  font-family: "Montserrat", sans-serif; /* Set the default font */
  background-color: #F8F7F7;
  --webkit-font-smoothing: antialiased;
  --moz-osx-font-smoothing: grayscale;
}
color {
  color: #313131;
}

/* Scrollbar Styling */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #999999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999999;
}
