:root {
  --dynamic-margin-left: 18%; /* Default value */
}
.body_space {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vmax;
  width: 100vmax;
  background-color: #f8f7f7;
  /* overflow: hidden; */
}
.dataContainer {
  /* flex: 1;
      display: flex;
      flex-direction: column;  */
  display: block;
  margin-left: var(--dynamic-margin-left);
  margin-top: 70px;

  background-color: #f8f7f7;
  height: 100%;
  width: 90%;
  overflow: auto;
}

/* .componentContainer{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left:50px;
    padding: 100px,100px,100px,100px;
    background-color: #ffffff;
    height: 100%;
    width: min-content;
  } */
.componentContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center; /* Center the items vertically */
  padding: 10px; /* Modified padding value */
  background-color: #ffffff;
  height: auto;
  width: min-content;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Increased shadow effect */
}

@media screen and (max-width: 768px) {
  .dataContainer {
    width: 95%;
  }
  .componentContainer {
    width: 100%;
  }
}
