.moodal {
  position:fixed;
  top:60px; 
  z-index: 1;
}
.moodal-content {
    position:fixed;
    width:19%;
    height:60%;
    left: 77%;
    padding:9px;       
    background-color: #ffffff;
    border-radius: 10px ;
    box-shadow: 0 0 10px #0000000d;
    z-index: 1;
    overflow-y: scroll;
    }
    .notif{
      font-weight: 500;
      height:auto;
      font-size: 16px;
      padding: 13px;
      border-bottom: #999 1px solid;
      display: flex;
      flex-direction: column;
      gap:10px;
    } .notifh{
      color: #999;
      font-size: 14px;
    }
 