.archive-page {
  position: absolute;
  left:18%;
  width:78%;
  height:83%;
  top:10%;
  display:flex;
  flex-direction: column;
  align-items:center;
  padding: 20px;
  /* background-color: aqua; */
}
.first{
  position: absolute;
  left:0%;
  height: 10%;
  width: 100%;
  top:5%;
  justify-content: center;
}
.actions {
  display: flex;
  justify-content:right;
  margin-top: 12px;
}
.actions button {
  position: relative;
  margin: 0 10px;
  padding: 5px 30px;
  font-size: 16px;
  background-color:rgba(20, 133, 130, 1);
}
.menu-section {
  display: flex;
  justify-content:left;
  padding: 10px 30px;
  position: absolute;
  top:20%;
  width:80%;
}
.bleuu{
  position: absolute;
  /* background-color: aquamarine; */
  left:0%;
  width:100%;
  height: 10%;
  top: 20%;
}
.years-section {
  position:absolute;
  left: 1%;
  top:0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: black; */
}
.month-selection span {
  position: relative;
  left:10%;
  margin: 0 10px;
}

.month-selection span.selected {
  text-decoration: underline;
}



.documents{
  position: fixed;
  left:18%;
  width:78%;
  height:58%;
  top:30%;
  display:flex;
  flex-direction: column;
  align-items:center;
  padding: 20px;
  background-color: rgb(188, 186, 186);
}



.documents-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}





.documents-list {
  width: 80%;
}

.document {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.document button {
  padding: 5px 10px;
  font-size: 14px;
}

.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.popup input,
.popup textarea {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.popup button {
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
}
