.formulaire {
  justify-self: center;
  background-color: #fff;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 30px;
  height: 420px;
  padding: 40px;
  padding-bottom: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 12px rgba(90, 90, 90, 0.2);
  height: auto;
}

.f1 {
  width: 100%;
  height: 48px;
  display: flex;
  gap: 20px;
}

.textfieldStyle {
  height: 100%;
  background-color: transparent;
  font-weight: 500;
  font-size: 15px;
}
