body{
    background-color:rgba(217, 217, 217, 1);
}

.loginwrap{
    width:100vw;
    height:100vh;
    background-color:#fff;
    position:fixed;
    top:0;
    left:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    size: 28;
    line-height: 34.18px;
}
.wrapper{
    width: 580px;
    height: 400px;
    background:#fff ;
    color:#fff ;
    display: grid;
    border-radius: 3px;
    box-shadow: -10 10 30px rgba(255, 255, 255, 1);
    grid-template-columns: 40% 60%; 
}
.wrapper h1{
    font-size: 42px;
    font-weight: 800;
    line-height: 77px;
    align-self: center;
    position: relative;
    left: 30%;
    top: 2%;
    color:rgba(0, 25, 79, 1);
}  
  
.wrapper .blue-section {
    position: relative;
    height:100%;
    width: 100%;
    border-radius:10px;
    background-color: #00194F;
    clip-path: polygon(0% 100% 0,100% 0%, 100% 75%, 50% 100%);
    display: flex;
    justify-content: center; 
    align-items: center; 
    box-shadow:-10 10 30px rgba(104, 118, 145, 0.7);
}
.logo {
    position: relative;
    width: 70%; 
    height:30%;
    border-radius:50%;
}

.wrapper .input-box{
    position: relative;
    top:4% ;
    left: 10%;
    width: 90%;
    height: 50px; ;
    margin:17px 0 ; 
    box-shadow:0 0 2px rgba(0, 25, 79, 1);
    outline: none;
    border-radius:5px;
}
.input-box input{
    position:relative;
    top:5%;
    width:70%;
    height:2%;
    left: 2%; 
    background:transparent;
    border: none;
    outline: none;
    border-radius:none;
    font-size: 18px;
    color: #000000;
    padding: 20px 45px 20px 20px;
    }
.input-box :-ms-input-placeholder{
    color:#000000;
}
.forget-pass a {
    position: relative;
    top:20%;
    left:68%;  
    font-size: 14px;
    font-weight: 400;
    line-height: 18.05px;
    color: rgba(128, 123, 123, 0.67);
    text-decoration: none;
}
.forget-pass a:hover {
    text-decoration: underline;
}
.wrapper button {
    position: relative;
    top:4% ;
    left: 10%;
    width: 90%;
    height: 50px; ;
    margin:17px 0 ; 
    box-shadow:0 0 2px rgba(0, 0, 0, 0.25);
    outline: none;
    border-radius:5px;
    margin-bottom:100px;
    background: #00194F;
    border: none;
    outline:none;
    border-radius:5px;
    font-size: 30px;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    line-height: 36.62px;
    justify-content: center; 
}