
  .menu{
    margin: 40px;
  }
  .menu-item {
   
    text-decoration: none; 
    color: #333; 
    font-weight: bold;
    padding: 0.5rem 1rem; 
    cursor: pointer; 
   
  }
  
  .menu-item:hover {
    color: #00194F; 
    text-decoration: underline;
    text-decoration-thickness: 3px; 
    text-decoration-color: #00194F; 
    text-underline-offset: 10px; 
}
.menu-item.active {
  color: #00194F; 
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #00194F; 
  text-underline-offset: 10px; 

}