.rdw-editor-toolbar {
    display: flex;
    padding: 20px;
  
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
  
  /* Styles for the editor content area */
  .rdw-editor-main {
    padding: 20px;
  
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


    
    font-size: 16px;
    color: #333;
    
    
    min-height: 200px;
    margin-top: 10px;
  }
  
  /* Styles for the editor placeholder text */
  .rdw-editor-placeholder {
    color: #999;
    padding: 20px;
  
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles for the editor inline toolbar */
  .rdw-inline-toolbar {
    
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Styles for specific toolbar buttons */
  .rdw-option-wrapper {
   display: flex;
   flex-direction: row;
    padding: 8px;
  }
  
  /* Styles for toolbar button icons */
  .rdw-option-wrapper i {
   
    font-size: 18px;
    color: #555;
  } .mlbtns{
    background-color: #fff;
    width: 25%;
    margin: 40px 0;
    padding-bottom: 15px;
    display: flex;
    gap:2%;
    margin-left: 71%;
   
  
    
  }
  
  
  .mlaccepte{
   
     
    width:130px;
    height:45px;
    border-color: #999999;
    border-radius: 7px;
    border-width: 1px;
    background-color: #148582;
    color:#fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    
   
  
  
  }
  .mlrefuse{
   

    width:110px;
    height:45px;
    border-color: #999999;
    border-radius: 7px;
    border-width: 1px;
    background-color: #F7F7F7;
    font-size: 16px;
    font-weight: 600;
    color:#999999;
    cursor: pointer;
  
  }.loan2 input{
    text-decoration: none;
   border:none;
    outline:none;
   
   
    background-color:transparent;
   
    font-weight: 500;
    font-size: 15px;
  
  }

