:root {
    --conwidth: 82%; /* Default value */
  }.addoffrewrapper{
    position: absolute;
    width: var(--conwidth);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2%;
    background-color: #EAEDEF;
    margin-top: 20px;

   


    
}.addoffre{
    position: absolute;
   right: 1%;
   top: 16%;
    width: 220px;
    height: 40px;
  
   background-color: #148582; 
   color: #fff; 
  
   border-radius: 5px;
  
   cursor: pointer;
   text-decoration: none;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 
   display: flex;
   align-items: center;
   gap:20px;
   justify-content: center;
   padding: 8px 12px; 
   font-size: 30px;
   font-weight: 400;
  
  
  
   


}.addoffre button{
    transform: translateY(-7px);
    font-size: 22px;
    background-color: #148582; 
    color: #fff; 
    border: none;
    font-weight: 400;
    cursor: pointer;
    
}.vali{
  
    width:90%;
    height:39%;
    border-top: #999999 1px solid;
    display: flex;
    
   
   
    position: relative;
    
   

}.addformbtn{
    width:90%;
    height:8%;
    display: flex;
    position: relative;
   
    color:#fff;
    text-decoration: none;
    

}.titleaddoffre{
    background-color: #EAEDEF;
    color:#00194F;
    font-size: 28px;
    font-weight: 400;
    transform: translateY(-20px);
    position: absolute;
 
}.vt{
    position: absolute;
    right: 0;
    bottom: 0;
    color: #00194F;
}.vt:hover{
   
    color: #148582;
}.offrec{
    height:80%;
    width:20%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 4%;

}.offrec:hover{
    background-color: #00194F;
    color: #fff;


}
.offrec:hover .titoff{
    background-color: #00194F;
    color: #fff;


}.offrec:hover .offdel{
    background-color: #EE0A0A;
    color: #fff;


}.offrec:hover .offvalid{
    background-color: #138582;
    color: #fff;


}.offrecrap{
    margin-top: 1%;
    width: 90%;
    height:100%;
    display: flex;
    justify-self: center;
    align-items: center;
    gap:1%;
}.offimg2{
    height:45%;
    width:100%;
    border-radius: 7px;
}.offimg3{
    height:55%;
    width:100%;
    border-radius: 7px;
}.descoff{
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
}.titoff{
    font-size:18px;
    color: #000;
    font-weight: 400;
}.offdel{
    width:47%;
    height:35px;
    border-color: #EE0A0A;
    border-radius: 7px;
    border-width: 1px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
    color:#EE0A0A;
    cursor: pointer;
  }.offvalid{
    width:47%;
    height:35px;
    border-color: #138582;
    border-radius: 7px;
    border-width: 1px;
    
    border-radius: 7px;
   
    background-color: #fff;
    color:#138582;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
  }.offbtns{
    display: flex;
    gap:5%;
  }
  .slick-prev,
.slick-next {
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  cursor: pointer;
}

.slick-prev {
  left: 10px;
}

.slick-next {
  right: 10px;
}.custom-slider .slick-slider,
.custom-slider .slick-track {
  display: block;
  overflow: visible;
  width: auto;
  /* Reset other properties as needed */
}
