body {
    margin: 0;
    padding: 0;
  
   
  }
  
  .sidemenu {

    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 18%;
    height:100%;
    z-index: 1;
    overflow: hidden;
    background-color: #00194F; 
    color: #fff;
   
    
  }
  
  .inactive {
    
    /* display: flex;
    flex-direction: column; 
    width:86px;
    height: 100%;
    background-color: #00194F; 
    color: #fff;
    transition: width 0.5s ease-in-out; */
    height: 100%;
    width: 6%;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    overflow: hidden;
    background-color: #00194F; 
    color: #fff;
   
    
  }
  .inactive  span{
    display: none;
   
  }
 
  
  .top-section {
    background-color: #00194F; /* Adjust the top section color */
    color: #fff;
    height:7%;
    
    text-align: center;
  }
  
  .toggle-menu-btn {
    margin-top: 7px;
    margin-left: 80%;
    cursor: pointer;
    font-size: 30px;
    background-color: #00194F;
  }  .toggle-menu-btn svg{
    background-color: transparent;
  }
  .toggle-menu-btn2 {
    margin-top: 7px;
    margin-left: 10%;
    cursor: pointer;
    font-size: 30px;
    background-color: #00194F;
   
  }  .toggle-menu-btn2 svg{
    background-color: transparent;
  }
  



  .mainmenu {
    
   

    margin: 0;
    
    width: 100%;
   
    background-color: #00194F; 
    
   
  }
  
  .menuitem {
    display: flex;
    align-items: center;
    
    color: #fff;
    text-decoration: none;
    background-color: #00194F;
    
    
   
  }
  
  .menuicon {
  
    background-color: #00194F;

  }.menuicon svg{
    background-color: transparent;
    padding:8px 17px;
    /* font-size: 20px; */
   
  }
  
  .link-taxt {
    
cursor: pointer;
    font-weight: 400;
    background-color: #00194F;
  }


  .submenu {
    list-style: none;
    padding : 8px 0px;
    margin: 0;
   
    background-color: #00194F;
    
    
  }
  
  .ayhaja {
    padding:0 8px;
    color:#fff;
    background-color: #00194F;
    display:inline-block;
    align-items: center;
    margin-left: 30px;
    text-decoration: none;
    display: flex;
    
     
    
  } .ai{
    display: none;
  }

  .ayhaja:not(.active):hover{

     
      color:#128582;
   
  }.ayhaja.active{
    border-radius: 10px;
    margin-left: 10px;
    
    
    background-color: #EAEDEF;
      color:#00194F;
    
  } 
  
  
  
  .ayhaja.active a{
     border-radius: 10px;
  margin-left: 10px;
  
    background-color: #EAEDEF;
    color:#00194F;
  }.ayhaja.active span{
   
    background-color: #EAEDEF;
    color:#00194F;
  }





  ul{
   display: inline;
    list-style-type: none;
   
    text-decoration: none;
   
  }

  .ayhaja a{
    background-color: #00194F;
    display:inline-block;
    text-decoration: none;
   
  } .ayhaja svg {
    /* font-size: 30px; */
    padding: 7px;
    background-color: transparent;
  }
  
  
   


   a svg {
    padding: 10px;
    background-color: transparent;
  }.menuitem:not(.active):hover{
    color:#128582;
  }.menuitem:not(.active):hover span{
    
    color:#128582;
  } 
  
  
  
  .menuitem:not(.active):hover a {
    color:#128582;
   
  }
a{
  text-decoration: none;
}



  li{
   
    text-align: left;
    list-style: none;
    font-size: 20px;
  
  }
   /* a.active{
   
    background-color: #EAEDEF;
    color:#00194F;
  }*/
  .active{
    background-color: #EAEDEF;
    color:#00194F;
    border-radius: 10px;
    margin-right: 15px;
  }
 .active .menuicon {
   margin-left: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #EAEDEF;
    color:#00194F;
   
  }  /*
  .active span{
    padding:8px;
    padding-right:70px ;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #EAEDEF;
    color:#00194F;
    /* pointer-events: none; 
  } */
  .subicon{
    position:absolute;
    right:4% ;
   
   font-size: 12px;
  }
  .noicon{
    width: 100%;
    border-top: #b2b5b7 1px solid;
    color: #fff;
    margin-left: 14px;
    margin-bottom: 20px;
    padding-top: 5px;
    pointer-events: none;

  }
 
   
  
  
