@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700 &display=swap');
.profile-title {
    position:absolute;
    top: 10%;
    left:10%;
    font-size: 20px; 
    color:  rgba(0, 25, 79, 1);
  }
.profile-line {
    top:14%;
    position: absolute;
    left:23%;
    border-bottom: 1px  black; 
    margin: 10px 0; 
    width: 75%;
  }
.userwrapper{
  position:absolute;
  top:20%;
  left:12%; 
  width: 85%;
  height:40%;
  background-color: #ffffff;
  align-items:center;
  padding:10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
  .profile-picture {
    margin-right: 20px;
    flex-shrink: 0; 
  }
  .profile-picture img {
    position:relative;
    width: 90%;
    height:200px;
    top: 8%;
    border-radius: 0%;
  }
  

.left, .right , .Info-left , .Info-right{
  position:absolute;
  width:30%;
  display:flexbox;
  font-weight: 500;
  padding:20px;
}
.left{
  left:25%;
  color:#aaa7a7;
}.right{
  left:60%;
  color:#aaa7a7;
}
.Info-left{
  left:36%;
  color:#000000;
}.Info-right{
  left:76%;
  color:#000000;
} 
  
  .button {
    position:absolute;
    top:58%;
    right:5%;
    color:rgba(19, 133, 130, 1); 
    border: none; 
    background-color:transparent;
    text-decoration: none; 
  }
  
  .button:hover,
  .button:focus {
    text-decoration: underline; 
  }
  /* Modal container */
.modal {
  position:fixed;
  width:25%;
  height:35%;
  top: 40%;
  left:55%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
}
.modal h2 {
  position:absolute;
  top:0.2%;
  left:20%;
  font-size: 20px;
  margin-bottom: 10px; 
  font-weight: 500;
  line-height: 48.76px;
}

.modal input {
  position: absolute;
  top:40%;
  left: 15%;
  width: 70%;
  padding:10px;
  margin-bottom: 15px;
  border: 1px  #ccc;
  border-radius: 5px;
  background-color: rgba(153, 153, 153,0.1);
}
.modal button {
  position:relative;
  top: 80%;
  left: 45%;
  padding: 8px 25px;
  margin-right:10px;
  border: none;
  border-radius: 7px;
}
.modal button.Enter {
  background-color:rgba(19, 133, 130, 1);
  ;
}
.modal button:hover {
  opacity: 0.8;
}
